name: build Go & test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
    - name: Coveralls GitHub Action
    # You may pin to the exact commit or the version.
    # uses: coverallsapp/github-action@8cbef1dea373ebce56de0a14c68d6267baa10b44
      uses: coverallsapp/github-action@v1.1.2
      with:
        # 
        github-token: ${{secrets.coverall}}
        # Path to lcov file
        path-to-lcov: # default is ./coverage/lcov.info
        # Job flag name, e.g. "Unit", "Functional", or "Integration". Will be shown in the Coveralls UI.
        flag-name: # optional
        # Set to true if you are running parallel jobs, then use "parallel_finished: true" for the last action.
        parallel: # optional
        # Set to true for the last action when using "parallel: true".
        parallel-finished: # optional
        # Coveralls Enterprise server (more info: https://enterprise.coveralls.io)
        coveralls-endpoint: # optional, default is https://coveralls.io
        # The root folder of the project that originally ran the tests
        base-path: # optional
