name: build Go & Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - name: Init vendor
        run: go mod vendor
      - name: Build
        run: go build -v ./...
  coverage:
    # runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v2

      - name: Generate coverage report
        run: |
          go test -race -coverprofile=coverage.txt -covermode=atomic . ./src/...

      - name: Upload coverage report
        uses: codecov/codecov-action@v1.2.2
